<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand">Navbar</a> -->
        <img [src]="srcImagem" alt="pequeno-img-rick" class="pequeno-img-rick">
        <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
        <!-- <div class="d-flex">
            <button type="button" class="btn btn-light"><i class="fa-solid fa-house estiloCasa"></i>Início</button>
            <button type="button" class="btn btn-outline-secondary estiloBtnDark"><i class="fa-solid fa-heart estiloCoracao"></i>Favoritos<i class="circle">3</i></button>
        </div> -->

        <div class="btn-group d-flex" role="group" aria-label="Basic checkbox toggle button group">

            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label type="button" class="btn btn-light btn-outline-secondary estiloBtnLight" for="btncheck1">
                <i class="fa-solid fa-house estiloCasa"></i>Início
            </label>

            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label type="button" class="btn btn-dark btn-outline-secondary estiloBtnDark" for="btncheck2">
                <i class="fa-solid fa-heart estiloCoracao"></i>Favoritos<i class="circle">3</i>
            </label>

          </div>
    </div>
</nav>