<div class="inicio-content">
    <div class="container">
        <div class="espacamentoTop col-12">
            <div class="row">
                <img [src]="srcImagem" alt="pequeno-img-rick" class="inicio-img-rick">
            </div>
            <div class="row espamentoPesquisar">
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Pesquisar</mat-label>
                    <input class="corTextoInput" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>