.inicio-content {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #1F1F1F;
    color: white;
    padding-top: 20px;
}

.inicio-img-rick {
    width: 110px;
    height: 48px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 720px;
}

.corTextoInput {
    color: white !important;
}

.espacamentoTop {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 720px;
    box-sizing: border-box;
}

.imagens-galeria {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.imagem-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.imagem-geral {
    width: 224px;
    height: 224px;
    object-fit: cover;
}

.estiloPaginator {
    background-color: #1F1F1F;
    color: white;
}

::ng-deep .mat-mdc-paginator-icon {
    fill: white !important; /* Define a cor de preenchimento dos ícones SVG como branco */
  }
  